.App {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(24px + 2vmin);
  color: white;
}

.Input {
  margin-top: 10px;
  block-size: auto;
}

.Todo-items {
  margin-top: 5px;
  color: #000;
}

.Done-items {
  margin-top: 5px;
  color: gray;
}

#colorpickerbutton {
  background-color: #282c34;
  border-color: #282c34;
}
#addbutton {
  background-color: #282c34;
  border-color: #282c34;
}

#Todo-button {
  font-size: medium;
  /* font-weight: normal; */
  /* color: white; */
  text-decoration: none;
  margin: 2px;
}

#Done-button {
  font-size: medium;
  /* font-weight: lighter; */
  /* color: darkgray; */
  text-decoration: line-through;
  margin: 2px;
}

#todo-container{
  margin-top: 10px;
}


#done-container{
  margin-top: 10px;
}

#Pegarata-img {
  width: 32px;
}

.App-link {
  color: #61dafb;
}