.App {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(24px + 2vmin);
  color: white;
}

.Todo-items {
  margin-top: 5px;
  color: #000;
}

.Input {
  margin-top: 5px;
  block-size: auto;
}

.Done-items {
  margin-top: 5px;
  color: gray;
}

.Add-button {
  color: #282c34;
}

#Done-button {
  color: rgb(185, 185, 185);
  text-decoration: line-through;
}

#Pegarata-img {
  width: 32px;
}

.App-link {
  color: #61dafb;
}